<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="model.username" class="form-control" name="username" id="username"
            placeholder="Enter username" required>
    </div>
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" [(ngModel)]="model.firstname" class="form-control" name="firstname" id="firstname"
            placeholder="Enter firstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" [(ngModel)]="model.lastname" class="form-control" name="lastname" id="lastname"
            placeholder="Enter lastname" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="model.password" class="form-control" name="password" id="password"
            placeholder="Enter password" required>
    </div>
    <div class="form-group">
        <label for="repeatedPassword">Confirm password</label>
        <input type="password" [(ngModel)]="model.repeatedPassword" class="form-control" name="repeatedPassword"
            id="repeatedPassword" placeholder="Confirm password" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="model.email" class="form-control" name="email" id="email"
            placeholder="Enter email" required>
    </div>
    <div class="form-group">
        <label for="role">Select your role</label>
        <select [(ngModel)]="model.role" class="form-control" name="role" id="role">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>